{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}
{% if session.user_id %}
You are logged in as {{ session.username }}.
<p></p>
<a href="/logout" class="btn btn-primary">Logout</a>
{% else %}
You are not logged in. You can login <a href="/login">here</a>.
{% endif %}
<hr>
<h2>Topics</h2>
{% for topic in topics %}
<a href="/topic/{{ topic.id }}/{{ topic.title }}">{{ topic.title }}</a>
<br>
Threads: {{ topic.thread_count }}
<hr>
{% endfor %}
{% if session.role == 2 %}
<br>
<h3>Admin tools</h3>
<br>
<h4>Add new topic</h4>
<form action="/add_topic" method="POST">
  <div class="mb-3 row">
    <label for="input_title">Title</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="input_title" name="title">
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Add new">
</form>
<br>
<h4>Remove topic</h4>
<form action="/remove_topic" method="POST">
  <div class="mb-3 row">
    <label for="input_title">Title</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="input_title" name="title">
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Remove">
</form>
{% endif %}
{% endblock %}
