{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}
{% if session.user_id %}
You are logged in as {{ session.username }}.
<p>
<a href="/logout">Logout</a>
{% else %}
You are not logged in. You can login <a href="/login">here</a>.
{% endif %}
<hr>
<h2>Topics</h2>
{% for topic in topics %}
{{ topic.title }}
<hr>
{% endfor %}
{% if session.role == 2 %}
<h3>Add new topic</h3>
<form action="/add_topic" method="POST">
Title: <br><input type="text" name="title">
<p>
<input type="submit" value="Add new">
</form>
{% endif %}
{% endblock %}
