{% extends "layout.html" %}
{% block title %}Create new thread{% endblock %}
{% block content %}
<h2>Create new thread</h2>
<br>
<form action="/create_thread" method="POST">
  <div class="mb-3 row">
    <label for="input_title">Title</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="input_title" name="title">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="input_message">Message</label>
    <div class="col-sm-6">
      <textarea class="form-control" id="input_message" rows="10" name="message_content"></textarea>
    </div>
  </div>
  <input type="submit" class="btn btn-primary" value="Create new">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<a href="/topic/{{ session.topic_id }}/{{ session.topic_title }}" class="btn btn-primary">Return</a>
{% endblock %}
