{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h2>Register</h2>
<br>
<form action="/register" method="POST">
  <div class="mb-3 row">
    <label for="input_email">Username</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="input_email" name="username">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="input_password">Password</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="input_password" name="password1">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="input_confirm_password">Password</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="input_confirm_password" name="password2">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="input_confirm_password">User role</label>
    <div class="col-sm-2">
      <select class="form-select" name="role">
        <option value="1">basic user</option>
        <option value="2">admin</option>
      </select>
    </div>
  </div>  
  <input type="submit" class="btn btn-primary" value="Register">
</form>
<br>
<a href="/login" class="btn btn-primary">Return</a>
{% endblock %}
