{% extends "layout.html" %}
{% block title %}Thread{% endblock %}
{% block content %}
<a href="/create_message" class="btn btn-primary">Create new message</a>
<br>
<br>
<h2>{{ thread_title }}</h2>
{% if session.username == session.thread_username %}
<a href="/edit_thread/{{ thread_id}}/{{ thread_title }}" class="btn btn-primary btn-sm">Edit</a>
{% endif %}
{% if session.username == session.thread_username or session.role == 2 %}
<a href="/remove_thread/{{ thread_id }}" class="btn btn-primary btn-sm">Remove</a>
<br>
{% endif %}
<br>
{% for message, time in zip(messages, times) %}
<div class="card bg-light">
  <div class="card-body">
    {{ message.content }}
    <hr>
    Created by <b>{{ message.username }}</b> at {{ "{day}.{month}.{year} ".format(year=message.created_at.year, month=message.created_at.month, day=message.created_at.day) + time }}
    <p></p>
    {% if session.username == message.username %}
    <a href="/edit_message/{{ message.id }}/{{ message.content }}/{{ message.username }}" class="btn btn-primary btn-sm">Edit</a>
    {% endif %}
    {% if session.username == message.username or session.role == 2 %}
    <a href="/remove_message/{{ message.id }}/{{ message.username }}" class="btn btn-primary btn-sm">Remove</a>
    {% endif %}
  </div>
</div>
{% endfor %}
<br>
<a href="/topic/{{ session.topic_id }}/{{ session.topic_title }}" class="btn btn-primary">Return</a>
{% endblock %}
