{% extends "layout.html" %}
{% block title %}Thread{% endblock %}
{% block content %}
<a href="/create_message">Create new message</a>
<hr>
<h2>{{ thread_title }}</h2>
{% if session.username == session.thread_username %}
<a href="/edit_thread/{{ thread_id}}/{{ thread_title }}">Edit</a>
<a href="/remove_thread/{{ thread_id }}">Remove</a>
{% endif %}
<h3>Messages</h3>
{% for message, time in zip(messages, times) %}
Content: {{ message.content }}
<br>
Created at: {{ "{year}-{month}-{day} ".format(year=message.created_at.year, month=message.created_at.month, day=message.created_at.day) + time }}
<br>
Created by: {{ message.username }}
<br>
{% if session.username == message.username %}
<a href="/edit_message/{{ message.id }}/{{ message.content }}/{{ message.username }}">Edit</a>
<a href="/remove_message/{{ message.id }}/{{ message.username }}">Remove</a>
{% endif %}
<hr>
{% endfor %}
<a href="/topic/{{ session["topic_id"] }}/{{ session["topic_title"] }}">Go back</a>
{% endblock %}
