{% extends "layout.html" %}
{% block title %}Thread{% endblock %}
{% block content %}
<h2>Messages</h2>
{% for message in messages %}
Content: {{ message.content }}
<br>
Created at: {{ "{year}-{month}-{day} ".format(year=message.created_at.year, month=message.created_at.month, day=message.created_at.day) +
               "{hour}:{minute}:{second}".format(hour=message.created_at.hour, minute=message.created_at.minute, second=message.created_at.second) }}
<br>
Created by: {{ message.username }}
<hr>
{% endfor %}
{% endblock %}
