{% extends "layout.html" %}
{% block title %}Topic{% endblock %}
{% block content %}
<a href="/create_thread" class="btn btn-primary">Create new thread</a>
<br>
<br>
<h2>{{ topic_title }}</h2>
<br>
{% for thread, time in zip(threads, times) %}
<div class="card bg-light">
  <div class="card-body">
    <h5><a href="/thread/{{ thread.id }}/{{ thread.title }}/{{ thread.username }}" class="text-black">{{ thread.title }}</a></h5>
    <p></p>
    {{ thread.message_count }} messages
    <p></p>
    Created by <b>{{ thread.username }}</b> at {{ "{day}.{month}.{year} ".format(year=thread.created_at.year, month=thread.created_at.month, day=thread.created_at.day) + time }}
  </div>
</div>
{% endfor %}
<br>
<a href="/" class="btn btn-primary">Return</a>
{% endblock %}
